[submodule "extern/gopro-telem"]
	path = extern/gopro-telem
	url = https://github.com/hankedan000/gopro-telem.git
[submodule "extern/cpptqdm"]
	path = extern/cpptqdm
	url = https://github.com/aminnj/cpptqdm.git
