[submodule "extern/gopro-telem"]
	path = extern/gopro-telem
	url = https://github.com/hankedan000/gopro-telem.git
[submodule "extern/cpptqdm"]
	path = extern/cpptqdm
	url = https://github.com/aminnj/cpptqdm.git
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/csv-parser"]
	path = extern/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "extern/concrt-cpp"]
	path = extern/concrt-cpp
	url = https://github.com/hankedan000/concrt-cpp.git
[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy.git
